<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POSCOMP 2021</title>
    <link rel="stylesheet" href="{{url_for('static', filename='stylePOSCOMP2021.css')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='icon.png')}}">
    
</head>

<body>
    <!--sidebar-->
<div class="page-wrapper">
        <aside class="sidebar">
            <h3><a href="{{url_for('index')}}">Página Inicial</a></h3>
            <h3>Ano da Prova</h3>
            <ul>
                <li><a href="{{url_for('POSCOMP2024')}}">2024</a></li>
                <li><a href="{{url_for('POSCOMP2023')}}">2023</a></li>
                <li><a href="{{url_for('POSCOMP2022')}}">2022</a></li>
                <li><a href="{{url_for('POSCOMP2021')}}">2021</a></li>
                <li><a href="{{url_for('POSCOMP2020')}}">2020</a></li>
                <li><a href="{{url_for('sobre')}}">Sobre</a></li>
            </ul>
        </aside>

<div class="main-container">
    <div class="content-container">
        <h1>POSCOMP 2021 - Em desenvolvimento</h1>
    </div>
    <div class="image-area">
        <img src="{{url_for('static', filename='Server.gif')}}" alt="Imagem de um servidor" class="image-area">

    </div>
</div>

</body>

</html>