    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>POSCOMP UNILAB</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styleSobre.css')}}">
        <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='icon.png')}}">
    </head>
    <body>
        <!--sidebar-->
    <div class="page-wrapper">
        <aside class="sidebar">
            <h3><a href="{{url_for('index')}}">Página Inicial</a></h3>
            <h3>Ano da Prova</h3>
            <ul>
                <li><a href="{{url_for('POSCOMP2024')}}">2024</a></li>
                <li><a href="{{url_for('POSCOMP2023')}}">2023</a></li>
                <li><a href="{{url_for('POSCOMP2022')}}">2022</a></li>
                <li><a href="{{url_for('POSCOMP2021')}}">2021</a></li>
                <li><a href="{{url_for('POSCOMP2020')}}">2020</a></li>
                <li><a href="{{url_for('sobre')}}">Sobre</a></li>
            </ul>
        </aside>

        <div class="main-container">
            <div class="content-container">
                <h1>Sobre a Desenvolvedora</h1>
                <p>Olá! Meu nome é Ivina Lorena Oliveira Moura, sou Engenheira de Computação formada pela Universidade da Integração Internacional da Lusofonia Afro-Brasileira (UNILAB). </p>
                <p>Este projeto foi desenvolvido como uma ferramenta para ajudar estudantes da UNILAB a se prepararem para o exame POSCOMP, facilitando o acesso às questões de provas anteriores.</p>
                <p>Se você tiver alguma dúvida ou sugestão, sinta-se à vontade para entrar em contato comigo!</p>
                <a href="mailto:ivinalorena@aluno.unilab.edu.br">Envie um e-mail</a>
            </div>
            
            <div class="developer-card-container">
                <div class="developer-card">
                    <img src="{{ url_for('static', filename='perfil-lattes.jpeg') }}" alt="Ivina Lorena" class="profile-image">
                    <h3>Ivina Lorena Oliveira Moura</h3>
                    <p class="role">Engenheira de Computação</p>
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/ivina-lorena-oliveira-moura-9793952a8" target="_blank" aria-label="LinkedIn">
                            <img src="{{ url_for('static', filename='linkedinlogo.png') }}" alt="LinkedIn">
                        </a>
                        <a href="https://github.com/ivinalorena/" target="_blank" aria-label="GitHub">
                            <img src="{{ url_for('static', filename='githublogo.jpg') }}" alt="GitHub">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

</html>
